/* Global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
    color: #2C3E50;
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #2C3E50;
    color: white;
    border-bottom: 3px solid #E67E22;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 60px;
    height: auto;
    margin-right: 12px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #0077b6; /* Warna biru untuk link */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e0f7ff; /* Biru muda saat hover */
    text-decoration: underline;
}

main {
    padding: 30px;
}

h2 {
    color: #E67E22;
    font-size: 28px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    background-color: #e0f7ff; /* Biru muda */
}

table, th, td {
    border: 1px solid #0077b6; /* Biru tua */
    padding: 12px;
}

caption {
    margin: 12px;
    font-weight: bold;
    color: #0077b6; /* Biru untuk teks caption */
}

th {
    background-color: #0077b6; /* Biru tua */
    color: white;
    text-transform: uppercase;
}

th, td {
    text-align: left;
}

.thick-border {
    border: 4px solid #0077b6; /* Biru tebal untuk border */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .logo {
        max-width: 50px;
    }
}
